---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Event from "../components/event.astro";

const event = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Singleview</title>
  </head>

  <body>
    <Header />
   <Event
        billede={event.image}
        navn={event.name}
        arrangør={event.arrangør}
        tid={event.tidspunkt}
        sted={event.placering}
      />
    <Footer />
  </body>
</html>

<style>

 /* .return img{
    position: absolute;
   
  } */
/*   

    @media (max-width:700px) {
        a img {
            width: 40px;
        }
         a{
        position: absolute;
        top: 10;
        left: 8%;
    }
    }
    @media (min-width:700px) {
        a img {
            width: 50px;
        }
         a{
        position: absolute;
        top: 20%;
        left: 5;
    }
} */
</style>