---
import Card from "./card.astro";
import "../CSS/style.css";

const url =
  "https://sibqcdhthioufhaicwtr.supabase.co/rest/v1/Events_sakurafestival";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpYnFjZGh0aGlvdWZoYWljd3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NjY2NDIsImV4cCI6MTk5NDU0MjY0Mn0.ok8JScbWc_UQlhYc0UI3306aWJYFhl2a7zBfENidiSg",
  },
};

const response = await fetch(url, options);
const alleEvents = await response.json();

const filteredEvents = alleEvents.filter((event) => event.dag === "Saturday" && event.placering === "Second stage");
filteredEvents.sort((a, b) => {

  const aTime = new Date(`1970-01-01T${a.tidspunkt}`);
  const bTime = new Date(`1970-01-01T${b.tidspunkt}`);

 
  return aTime - bTime;
});
---

<section>
  {
    filteredEvents.map((event) => (
      <Card
        billede={event.image}
        navn={event.name}
        arrangør={event.arrangør}
        tid={new Date(`1970-01-01T${event.tidspunkt}`).toLocaleTimeString([], {
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
        })}
        sted={event.placering}
      />
    ))
  }
</section>

<style>
  @media (max-width: 800px) {
    section {
    display: flex;
    overflow-x: scroll;
    padding: 5%;
  }
  }
  @media (min-width: 800px) {
    section {
    display: flex;
    overflow-x: scroll;
    padding: 2%;
  }
  }
  
</style>